<div class="row">
  <div class="col-xs-12">
    <img
      [src]="selectedRecipe.imagePath"
      alt=""
      class="img-responsive"
      style="max-height: 200px; max-width: 100px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
    <p>{{ selectedRecipe.name }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button
        appDropDown
        id="btnGroupDrop1"
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div>
      <h2>Description</h2>
      <p>{{ selectedRecipe.description }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Ingredients</h2>
  </div>
</div>
