<div class="shadow-lg m-4 col-md-12">
  <div class="d-flex justify-content-center align-items-center">
    <h4 class="text-h4 my-2">Sign in</h4>
  </div>
  <form (ngSubmit)="signIn()" [formGroup]="signInForm" class="p-4">
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="inputEmail4"
      />
      <small
        class="text-danger"
        *ngIf="signInForm.get('email')?.errors?.['required'] && signInForm.get('email')?.touched"
        >Email is required</small
      >
      <small
        class="text-danger"
        *ngIf="signInForm.get('email')?.errors?.['emailPatternDismatch']"
        >Email is format is not valid</small
      >
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="inputPassword4"
      />
      <small
        class="text-danger"
        *ngIf="signInForm.get('password')?.errors?.['required'] && signInForm.get('password')?.touched"
        >Password is required</small
      >
      <small
        class="text-danger"
        *ngIf="signInForm.get('password')?.errors?.['minlength']"
        >Password must be larger than 6 chars</small
      >
    </div>
    <div class="d-grid my-2 gap-2">
      <button
        [disabled]="!signInForm.valid"
        class="btn btn-primary"
        type="submit"
      >
        Sign In
      </button>
      <button
        (click)="setAuthType()"
        class="btn btn-outline-primary"
        type="button"
      >
        SignUp
      </button>
    </div>
  </form>
</div>
