/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  padding: 0px;
  height: 100vh !important;
}

body {
  background-color: rgb(209, 204, 204);
}
main {
  min-height: 100%;
  height: 100%;
}
